<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>raw @article.text:</strong>
  <%= raw @article.text %>
</p>


<p>
  <strong>@article.text:</strong>
  <%= @article.text %>
</p>

<!-- There is a XSS flaw in the current version
of ActiveView which allows double quotes to pass
through sanitize and still be marked as 
html_safe.

The attack noted in the security patch is
content_tag(:div, "foo", title: sanitize('" onmouseover="alert(1);//'))` 

//-->
<p>
  <strong>sanitize @article.text:</strong>
  <%= sanitize @article.text %>
</p>


<%= link_to 'Back', articles_path %>
